<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="" class="input-form" method="GET">
        <h4>Введите номер договора для получения необходимой информации</h4>
        <input type="number" id="contract-num-input" required="true" placeholder="Номер договора">
        <button type="button" class="get-info-button">ОК</button>
    </form>
    <div id="errors-container">

    </div>
    <div class="contract-info-container">
        <table>
            <tr>
                <th>№ договора</th>
                <th>ФИО</th>
                <th>Тариф</th>
                <th>Статус</th>
                <th>Город</th>
                <th>Улица</th>
                <th>Дом</th>
                <th>Квартира</th>
            </tr>
            <tbody id="contact-info-body">

            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>