<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тестовое задание</title>
</head>
<body>
    <form class="input__form">
        <p>Введите номер договора для получения необходимой информации</p>
        <input type="text" class="contract-num__input" placeholder="Номер договора">
        <button class="get-info__button">ОК</button>
    </form>
    <div class="contract-info__container">

    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}">

    </script>
</body>
</html>